.logopng-icon {
  width: 100%;
  height: 36.7px;
  position: relative;
  max-width: 125px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.courses {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
}
.svg-icon {
  height: 16px;
  width: 16px;
  position: relative;
}
.button1,
.container2,
.container3 {
  display: flex;
  justify-content: flex-start;
}
.button1 {
  border-radius: var(--br-7xs);
  background-color: var(--homeaccrediancom-royal-blue);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-lg);
  gap: var(--gap-9xs);
}
.container2,
.container3 {
  flex-direction: column;
  align-items: flex-start;
}
.container2 {
  width: 560px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-268xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.refer-earn {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
}
.heading-2-dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.resources {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
}
.heading-2-dialog1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 67px;
  white-space: nowrap;
}
.heading-2-dialog2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
}
.container5 {
  width: 173px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.login {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base-3);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--homeaccrediancom-mirage);
  text-align: center;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
}
.button2,
.link1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  border-radius: var(--br-7xs);
  background-color: var(--homeaccrediancom-gull-gray-20);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
}
.link1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
}
.try-for-free {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 79px;
}
.button3,
.link2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button3 {
  border-radius: var(--br-7xs);
  background-color: var(--homeaccrediancom-royal-blue);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
  white-space: nowrap;
}
.link2 {
  flex-direction: column;
  cursor: pointer;
}
.container6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  color: var(--homeaccrediancom-nero);
}
.container4 {
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-249xl);
  gap: var(--gap-12xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini-8);
  color: var(--homeaccrediancom-mirage);
}
.container,
.container-wrapper,
.container1,
.container4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container1 {
  width: 1360px;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
  max-width: 1360px;
  min-height: 60px;
  gap: var(--gap-0);
  row-gap: 20px;
}
.container,
.container-wrapper {
  align-items: flex-start;
  max-width: 100%;
}
.container {
  flex: 1;
  justify-content: center;
  padding: var(--padding-3xs-6) var(--padding-xl);
}
.container-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-20xl-8);
  text-align: center;
  font-size: var(--font-size-mini-9);
  color: var(--homeaccrediancom-nero);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1650px) {
  .container1 {
    max-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .container2 {
    gap: var(--gap-base);
    padding-right: var(--padding-124xl);
    box-sizing: border-box;
  }
  .container5 {
    display: none;
  }
  .container4 {
    padding-left: var(--padding-115xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .container2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .container4 {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
