@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --homeaccrediancom-roboto-bold-17: Roboto;
  --font-inter: Inter;
  --font-source-sans-pro: "Source Sans Pro";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --homeaccrediancom-roboto-bold-17-size: 17px;
  --font-size-lg-8: 18.8px;
  --font-size-base-7: 16.7px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-base-1: 15.1px;
  --font-size-base-9: 16.9px;
  --font-size-base-6: 16.6px;
  --font-size-8xl-7: 27.7px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-35xl: 54px;
  --font-size-21xl: 40px;
  --font-size-69xl: 88px;
  --font-size-25xl: 44px;
  --font-size-7xl: 26px;
  --font-size-6xl: 25px;
  --font-size-mini-8: 14.8px;
  --font-size-base-3: 15.3px;
  --font-size-mini: 15px;
  --font-size-mini-9: 14.9px;

  /* Colors */
  --homeaccrediancom-nero: #fff;
  --homeaccrediancom-mine-shaft: #282828;
  --homeaccrediancom-mine-shaft1: #262626;
  --homeaccrediancom-mirage: #1a202c;
  --color-gray-100: rgba(0, 0, 0, 0.22);
  --color-gray-200: rgba(0, 0, 0, 0.87);
  --color-aliceblue-100: #eef5ff;
  --homeaccrediancom-mystic: #e2e8f0;
  --color-aliceblue-200: rgba(235, 243, 255, 0.35);
  --homeaccrediancom-royal-blue: #1a73e8;
  --homeaccrediancom-japanese-laurel: #007bff;
  --homeaccrediancom-royal-blue-15: rgba(26, 115, 232, 0.15);
  --color-royalblue-100: rgba(26, 115, 232, 0.11);
  --color-royalblue-200: rgba(26, 115, 232, 0.35);
  --color-cornflowerblue: #26a1ff;
  --color-gainsboro: #e6e6e6;
  --color-dodgerblue-100: #4099ff;
  --color-dodgerblue-200: #3b82f6;
  --color-whitesmoke: #f5f5f5;
  --color-dimgray: #737373;
  --color-lightgray: #c9cfd6;
  --color-silver: #b7b7b7;
  --color-darkslategray-100: #4b4b4b;
  --color-darkslategray-200: #3c4852;
  --color-darkslategray-300: rgba(60, 72, 82, 0.52);
  --color-darkslateblue: #1350a0;
  --color-black: #000;
  --homeaccrediancom-gull-gray-20: rgba(148, 163, 184, 0.2);

  /* Gaps */
  --gap-xl: 20px;
  --gap-13xl-5: 32.5px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-9xs: 4px;
  --gap-8xs-2: 4.2px;
  --gap-9xs-2: 3.2px;
  --gap-12xs-3: 0.3px;
  --gap-116xl: 135px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-48xl: 67px;
  --gap-9xs-6: 3.6px;
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-43xl: 62px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-9xl: 28px;
  --gap-mini-3: 14.3px;
  --gap-lgi-5: 19.5px;
  --gap-6xl: 25px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-16xl: 35px;
  --gap-mid-9: 17.9px;
  --gap-17xl-7: 36.7px;
  --gap-146xl: 165px;
  --gap-63xl: 82px;
  --gap-22xl: 41px;
  --gap-24xl: 43px;
  --gap-smi: 13px;
  --gap-11xs: 2px;
  --gap-6xl-5: 25.5px;
  --gap-base-5: 16.5px;
  --gap-5xl-5: 24.5px;
  --gap-12xs: 1px;
  --gap-6xl-9: 25.9px;
  --gap-7xs-5: 5.5px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-37xl: 56px;
  --gap-8xl: 27px;
  --gap-161xl: 180px;
  --gap-144xl: 163px;
  --gap-62xl: 81px;
  --gap-0: 0px;
  --gap-12xl-5: 31.5px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-lgi: 19px;
  --padding-341xl: 360px;
  --padding-71xl: 90px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-161xl: 180px;
  --padding-5xl: 24px;
  --padding-21xl: 40px;
  --padding-5xs: 8px;
  --padding-182xl-3: 201.3px;
  --padding-base: 16px;
  --padding-12xs-3: 0.3px;
  --padding-xs-2: 11.2px;
  --padding-xs: 12px;
  --padding-9xs-2: 3.2px;
  --padding-xs-3: 11.3px;
  --padding-xs-9: 11.9px;
  --padding-48xl: 67px;
  --padding-8xs: 5px;
  --padding-19xl: 38px;
  --padding-xl-7: 20.7px;
  --padding-101xl: 120px;
  --padding-59xl: 78px;
  --padding-32xl: 51px;
  --padding-44xl: 63px;
  --padding-31xl: 50px;
  --padding-29xl: 48px;
  --padding-6xl: 25px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-mini: 15px;
  --padding-11xs: 2px;
  --padding-26xl: 45px;
  --padding-lg: 18px;
  --padding-27xl: 46px;
  --padding-mid: 17px;
  --padding-sm: 14px;
  --padding-12xl: 31px;
  --padding-14xl: 33px;
  --padding-158xl: 177px;
  --padding-56xl: 75px;
  --padding-96xl: 115px;
  --padding-49xl: 68px;
  --padding-50xl: 69px;
  --padding-2xs: 11px;
  --padding-10xs-5: 2.5px;
  --padding-8xl: 27px;
  --padding-2xs-5: 10.5px;
  --padding-12xs: 1px;
  --padding-38xl: 57px;
  --padding-18xl: 37px;
  --padding-3xs: 10px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-4xs: 9px;
  --padding-6xs: 7px;
  --padding-xs-5: 11.5px;
  --padding-smi: 13px;
  --padding-22xl: 41px;
  --padding-53xl: 72px;
  --padding-7xl: 26px;
  --padding-23xl: 42px;
  --padding-60xl: 79px;
  --padding-64xl: 83px;
  --padding-35xl: 54px;
  --padding-33xl: 52px;
  --padding-42xl: 61px;
  --padding-41xl: 60px;
  --padding-20xl-8: 39.8px;
  --padding-3xs-6: 9.6px;
  --padding-249xl: 268px;
  --padding-115xl: 134px;
  --padding-268xl: 287px;
  --padding-124xl: 143px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-6xs: 7px;
  --br-sm: 14px;
  --br-26xl: 45px;
  --br-10xl: 29px;
  --br-19xl: 38px;
  --br-7xs: 6px;
}
